<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}AcercArte GBA{% endblock %}</title>
     {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/style.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/alertify.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/themes/semantic.css') }}" rel="stylesheet" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-1.9.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/alertify.js') }}"></script>

       
    </head>
<body>

        <div class="container">
            {% include 'navbar.html.twig' %}
            {% block body %}
            {% endblock %}
        </div>
        
        {% block javascripts %}
        {% endblock %}
</body>
</html>
