<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Admin: AcercArte GBA</title>
    <link href="{{ asset('bundles/app/css/backend_v1.2.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/normalize.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/css/login.css') }}" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div id="loginbox" class="floatFix">
      <header>AcercArte GBA</header>
      {% if error %}
            <div class="alert" style="display:block;">La combinacion usuario / clave no es correcta</div>
       {% endif %}
       <form action="{{ path('login') }}" method="post">
        <input type="hidden" name="next" value="/admin/" />
        <label>Usuario</label>
        <input type="text" name="_username" autofocus="autofocus" />
        <label>Contraseña</label>
        <input type="password" name="_password" />
        <button class="btn right lightblue" type="submit">Ingresar</button>
      </form>
    </div>
  </body>
</html>
