<!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AcercArte GBA</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        {% if is_granted('ROLE_USER') %} 
           <li class=><a href="{{ path('video_new') }}"><i class="fa fa-plus"></i> Nuevo Video </a></li>
        {% endif %}
        <li class="active"><a href="{{ path('logout') }}">Salir</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>