{% extends 'base.html.twig' %}

{% block body %}
{% form_theme edit_form 'AdminLTEGeneratorBundle:widget:fields.html.twig' %}
<div class="row">
  <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Video</h3>
        </div>
        {{ form_start(edit_form, {"attr":{"novalidate":"novalidate"}}) }}
        <div class="box-body">
        {{ form_widget(edit_form) }}
        </div>
        <div class="box-footer">
          <button type="submit" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-save"></i> Guardar</button>
          {{ form_end(edit_form) }}
                    <a href="{{ path('video_index') }}" role="button" class="btn btn-default btn-sm btn-flat"><i class="fa fa-times"></i> Cancelar</a>  <p>
    {{ form_start(delete_form, {"attr":{"id":"delete"}}) }}    <button class="btn btn-danger btn-sm btn-flat" type="submit"><i class="fa fa-trash-o"></i> Borrar</button>
  </p>
{% include 'video/_modal_delete.html.twig' %}
{{ form_end(delete_form) }}</div>
      </div>
    </div>
  </div>
{% endblock %}
