{% form_theme form 'AdminLTEGeneratorBundle:widget:fields.html.twig' %}
<button type="button" class="btn {{ app.session.get('filter.video') ? 'btn-warning' : 'btn-default' }} btn-sm" data-toggle="modal" data-target="#filterModal">
	<i class="fa fa-filter"></i> Filtros
</button>

<div class="modal" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title" id="myModalLabel">Filtros de búqueda <small>Aplique uno o más filtros</small></h4>
      		</div>
		<div class="modal-body">
			<div id="filter" >
				<form method="get" action="">
					{{ form_widget(form) }}

			</div>
		</div>
		<div class="modal-footer">
       		<button class="btn btn-primary btn-sm btn-flat" type="submit" name="submit-filter"><i class="fa fa-filter"></i> Filtrar</button>
        	<a class="btn btn-default btn-sm btn-flat" href="?reset-filter"><i class="fa fa-eraser"></i> Quitar filtros</a>
        	<button type="button" class="btn btn-default btn-sm btn-flat" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
      </div>
		</form>
    </div>
  </div>
</div>
