{% extends 'base.html.twig' %}

{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('video_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('video_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('video_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}	
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Video</h3>
					<div class="box-tools">
					
					
            	</div>            
				<div class="box-body table-responsive no-padding">
					<table class="table table-bordered table-hover table-striped">
						<tr>		                
		                	<th>{{ thead('video', 'id', 'Id') }}</th>		                
		                	<th>{{ thead('video', 'url', 'Url') }}</th>		                
		                	<th>{{ thead('video', 'descripcion', 'Descripcion') }}</th>		                <th>Acciones</th>
		            	</tr>              
						{% for video in pagination %}
				        <tr>
				                <td><a href="{{ path('video_show', { 'id': video.id }) }}">{{ video.id }}</a></td>
				                <td>{{ video.url }}</td>
				                <td>{{ video.descripcion }}</td>
				                <td>
				                	<div class="tools">				                					                 
				                							                						
				                				                	                					
				                					                       
				                            <a class="btn btn-default btn-sm btn-flat" href="{{ path('video_show', { 'id': video.id }) }}"><i class="fa fa-eye"></i>&nbsp;Ver</a>				                							                						
				                				                					
				                					                 
				                					                       
				                            <a class="btn btn-default btn-sm btn-flat" href="{{ path('video_edit', { 'id': video.id }) }}"><i class="fa fa-edit"></i>&nbsp;Editar</a>		                    		
		                  			</div>		                    
				                </td>
				        </tr>
			        {% endfor %}
		          	</table>
		           </div>            

		            <div class="box-footer clearfix">
						
		            	{{ knp_pagination_render(pagination) }}		              
		            </div>		           
			</div>
	    </div>
	</div>
	
{% endblock %}
