{% extends 'base.html.twig' %}

{% block body %}
{% form_theme form 'AdminLTEGeneratorBundle:widget:fields.html.twig' %}
<div class="row">
    <div class="col-md-6">
         <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Nuevo Video</h3>
            </div>
            {{ form_start(form, {"attr":{"novalidate":"novalidate"}}) }}
            <div class="box-body">
			{{ form_widget(form) }}
			</div>
			<div class="box-footer">
				<button type="submit" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-save"></i> Guardar</button>        	        	
			{{ form_end(form) }}
						<a href="{{ path('video_index') }}" role="button" class="btn btn-default btn-sm btn-flat"><i class="fa fa-times"></i> Cancelar</a></div>
		</div>
	</div>
</div>
{% endblock %}
