{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Video</h3>
            </div>            
            <div class="box-body table-responsive no-padding">
              <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>Id</th>
                        <td>{{ video.id }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td>{{ video.url }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ video.descripcion }}</td>
                    </tr> 

                </table>
            </div>
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin">                                       
                                        <a href="{{ path('video_index') }}" role="button" class="btn btn-default btn-sm btn-flat"><i class="fa fa-times"></i> Cancelar</a>  <p>
    {{ form_start(delete_form, {"attr":{"id":"delete"}}) }}    <a href="{{ path('video_edit', { 'id': video.id }) }}" role="button" class="btn btn-primary btn-sm btn-flat"><i class="fa fa-edit"></i> Editar</a>    <button class="btn btn-danger btn-sm btn-flat" type="submit"><i class="fa fa-trash-o"></i> Borrar</button>
  </p>
{% include 'video/_modal_delete.html.twig' %}
{{ form_end(delete_form) }}</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
