@import "normalize.css";
@import "../fonts/fonts.css";

/* Login */
html {height:100%;}
body{
	
	background:#3f4658 url("../imgs/logo_new-w.svg") left bottom no-repeat;
	background-size:180px, auto;
	/*
	background-color:#3f4658;
	background-image: url("../imgs/logo_new.svg"), url('../imgs/backgrounds/body2.png');
	background-repeat: no-repeat, repeat;
	background-size:200px, auto;
	background-position: left bottom, top left;*/
	margin:0 0 0 0;
	color:#666;
	height:100%;
}

.left {float:left;}
.right {float:right;}
a, img {text-decoration: none;border:0;}

header {
	display:block;
	padding:15px 15px 12px;
	font-size:28px;
	margin:-20px -20px 20px;
	border-bottom:1px solid #d0d0d0;
	font-family: 'source_sans_prolight', 'Helvetica Neue', Helvetica, Arial,sans-serif;
	/*text-indent:-1000px;
	height:48px;*/
}
#loginbox {
	width:340px;
	background:#fff;
	padding:20px;
	position:relative;
	top:15%;
	margin:auto;
	border-radius:5px;
	box-shadow: 0 17px 50px -20px rgba(0, 0, 0, 0.19), 0 12px 15px -10px rgba(0, 0, 0, 0.24);
	/*left:50%;*/
	/*transform:translate(-50%, -50%);*/
}
#loginbox input[type='text'],
#loginbox input[type='password'] {width:300px;height:auto;line-height:21px;padding:8px;font-size:17px;margin:5px 0 20px;border:1px solid #c0c0c0;border-color: rgba(94, 135, 168, 0.5);}
#loginbox label {font-size:17px;line-height:19px;color:#656565;font-family: 'source_sans_prolight'}

.alert {
	margin:0 0 20px;
}